* {
   outline: 1px solid red !important;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.image {
	max-width: 460px;
	margin: 30px;
}

.description {
	max-width: 705px;
}

.title {
	background-color: #33BEBE;
}

.app {
    display: -webkit-flex;
    display: flex;
}